@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body
{
  background-color:#dcecf7 !important;
}

.container{
    width: 80%;
    margin:auto;
    /* background-color: #011A31; */
    color:white;
    padding-top: 10px;
}
.header{
    background-color: #011A31;
    color: white;
}
.header .des-edit{
    height:350px;
    width: 100%;
    background: #011A31;
    color: white;
}
.navbar .navbar-brand .title{
    font-family: Jura,Helvetica,Arial,sans-serif;
    font-size: 36px;
}
.pick-up-line{
    color: #F44292;
    font-family: Jura,Helvetica,Arial,sans-serif;
    font-weight: 400px;
    font-size: 16px;
}
.container .navbar{
    padding: 0px;
}
#navbarNav a{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}



 .container h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    
}
.container p{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
}


.container .row .desc{
    float: center;
    /* max-width: 55%; */
    margin:auto;
    width: 100%; 
    margin-top: 55px;
    
    text-align: center;
   
} 
.container .row .col-md-6{
    padding-right: 0px;
   
} 



.des-edit .desc .btn
{
    background-color: whitesmoke;
    font-weight: 700;
    padding: 7px 40px;
}

.price-div-bg{
    background-color: #dcecf7;
    color: #445d6e;
    display: flex;
    flex-direction: column;
    padding-top: 75px;;
    padding-bottom: 100px;
}



/* Footer Area Starts */


#footer-area {
    padding:90px 0 0 0;
   
    background-color: #15314B;
    color: #ddd;
}
.foot-cont{
  background-color: #15314B;
}
.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
    font-family: Merienda;
}
.link-area li{
    padding: 5px 5px 5px 0;
    list-style: none;
}
.link-area li a{
    text-transform: capitalize;
    color: #ddd;
    font-family: Merienda;
}

.link-area li a i{
    margin-right: auto; 
    color: #ddd;
}
.link-area{
    padding: 0;
}
.single-footer p{
    font-family: Merienda;
}
.social-media{
    margin: 20px 0;
  }
  .social-media a{
   
    color: white;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    
    color: black
    
  }