/* Nav css start */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');


body
{
  background-color: #F6F9FC !important;
}

.container{
    width: 80%;
    margin:auto;
    background-color: #011A31;
    color:white;
    padding-top: 10px;
}
.header{
    background-color: #011A31;
}
.header .des-edit{
    height:350px;
    width: 100%;
    background: #011A31;
    color: white;
}
.navbar .navbar-brand .title{
    font-family: Jura,Helvetica,Arial,sans-serif;
    font-size: 36px;
}
.pick-up-line{
    color: #F44292;
    font-family: Jura,Helvetica,Arial,sans-serif;
    font-weight: 400px;
    font-size: 16px;
}
.container .navbar{
    padding: 0px;
}
#navbarNav a{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}



 .container h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    
}
.container p{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
}


.container .row .description{
    float: center;
    /* max-width: 55%; */
    margin:auto;
    width: 100%; 
    margin-top: 55px;
    
    text-align: center;
   
} 
.container .row .col-md-6{
    padding-right: 0px;
   
} 



.des-edit .description .btn
{
    background-color: whitesmoke;
    font-weight: 700;
    padding: 7px 40px;
}
/* Nav css ends */

/* Play List Css Start */
.play{
    background-color: #F6F9FC;
    margin-left: 24px;
    padding-top: 50px;
    padding-right: 24px;
}



/* Resources section start */

.container-fluid
{
    font-family: 'Baloo Bhaina 2' , cursive !important;
    width: 60% !important;
    margin: 0 auto;
    margin-top: 100px;
}
.container-fluid h2
{
    color: hotpink;
    position: relative;
    width: 23rem;
}
.container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
    background-color: hotpink;

}
.accordion{
    width: 100%;
    padding: 15px 5px 15px 15px;
    border: 2px solid #6bd5ff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background-color: #6bd5ff;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
    align-items: center;
}
.accordion h5{
    font-size: 30px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #1f5c9a;
}
.panel
{
    padding: 0 15px;
    border-left: 1px solid #6bd5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height:300px;
    transition: all .5s ease-in;
}


/* Resources section ends */


.writeus{
    background-color: #F6F9FC;
    padding-bottom: 100px;
}

/* Play List Css ends */




/* Footer Area Css */

#footer-area {
    padding:90px 0 0 0;
   
    background-color: #15314B;
    color: #ddd;
}
.foot-cont{
  background-color: #15314B;
}
.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: #fafafa;
    font-family: Merienda;
}
.link-area li{
    padding: 5px 5px 5px 0;
    list-style: none;
}
.link-area li a{
    text-transform: capitalize;
    color: #ddd;
    font-family: Merienda;
}

.link-area li a i{
    margin-right: auto; 
    color: #ddd;
}
.link-area{
    padding: 0;
}
.single-footer p{
    font-family: Merienda;
}
.social-media{
    margin: 20px 0;
  }
  .social-media a{
   
    color: white;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    
    color: black
    
  }